#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Info Window */
.infobox {
  position: absolute;
  background-color: rgb(255, 255, 255);
  border: 0px none;
  border-radius: 3px;
  display: flex !important;
  flex-flow: column nowrap;
}

.infobox .infobox-header {
  padding-left: 1rem;
  background-color: royalblue;
  color: #fff;
}

.infobox .infobox-header h4 {
    display: inline-block;
}

.infobox .infobox-header img {
    float: right;
}

.infobox .infobox-content {
  padding: 0px;
  overflow-y: scroll;
}
